<app-side-nav></app-side-nav>

<div class="container">
    <div class="card-container">
        <!-- Income -->
        <div class="card">
            <div class="card-header">
                <span class="icon income-icon">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#money"></use>
                    </svg>
                </span>
                <h2>Income</h2>
            </div>
            <hr>
            <div class="income-details">
                <div class="month">
                    <h3>Last Month Income</h3>
                    <ul>
                        <li *ngFor="let income of lastmonthincome">{{ income }}</li>
                    </ul>
                </div>
                <div class="month">
                    <h3>Current Month Income</h3>
                    <p>{{ currentmonthincome }}</p>
                </div>
            </div>
            <button class="button" (click)="OnIncome()">View</button>
        </div>

        <!-- Expenses -->
        <div class="card">
            <div class="card-header">
                <span class="icon expense-icon">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#credit_card"></use>
                    </svg>
                </span>
                <h2>Expenses</h2>
            </div>
            <hr>
            <div class="income-details">
                <div class="month">
                    <h3>Last Few Month</h3>
                    <ul>
                        <li *ngFor="let expense of lastmonthexpenses">{{ expense }}</li>
                    </ul>
                </div>
                <div class="month">
                    <h3>Current Month Expense</h3>
                    <p>{{ currentmonthexpense }}</p>
                </div>
            </div>
            <button class="button" (click)="OnExpense()">View</button>
        </div>

        <!-- To Do Transaction -->
        <div class="card">
            <div class="card-header">
                <span class="icon todo-icon">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#tasks"></use>
                    </svg>
                </span>
                <h2>To-Do Transactions</h2>
            </div>
            <hr>
            <ol type="1">
                <li *ngFor="let todo of todos">
                    <span class="transaction-details">{{ todo.description }}</span>
                </li>
            </ol>
            <br>
            <br>
            <button class="button" (click)="OnTodo()">View</button>
        </div>

        <!-- Total Transaction -->
        <div class="card">
            <div class="card-header">
                <span class="icon total-icon">
                    <svg class="slds-icon slds-icon-text-default slds-icon_small">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#chart"></use>
                    </svg>
                </span>
                <h2>Total Income</h2>
            </div>
            <hr>
            <div class="total-details">
                <div class="total-item">
                    <span class="icon income-icon">
                        <svg class="slds-icon slds-icon-text-default slds-icon_small">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#money"></use>
                        </svg>
                    </span>
                    <h3>Current Month Income</h3>
                    <p>{{ totalcurrentmonthincome | currency }}</p>
                </div>
                <div class="total-item">
                    <span class="icon expense-icon">
                        <svg class="slds-icon slds-icon-text-default slds-icon_small">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#credit_card"></use>
                        </svg>
                    </span>
                    <h3>Current Month Expense</h3>
                    <p>{{ totalcurrentmonthexpense | currency }}</p>
                </div>
                <hr>
                <div class="total-item">
                    <span class="icon trans-icon">
                        <svg class="slds-icon slds-icon-text-default slds-icon_small">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#savings"></use>
                        </svg>
                    </span>
                    <h3>Current Month Savings</h3>
                    <p>{{ totalcurrentmonthsaving | currency }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
